<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <a class="navbar-brand" href="/">link.famas.ml</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Hjem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/opret">Opret</a>
        </li>
				<li class="nav-item">
            <a class="nav-link" href="/all">Alle kortlinks</a>
        </li>
    </ul>
</nav>
