<div style="width: 350px;" class="d-inline-block m-2">

	<h4>Gå til link</h4>

	<!-- <label class="form-label" for="inputLinkRedir"></label> -->
	<input class="form-control w-100" type="text" name="inputLinkRedir" id="inputLinkRedir" placeholder="Eks: Eboks">

	<button onclick="window.location.href = `https://kortlink.famas.ml/${document.getElementById('inputLinkRedir').value}`" class="btn btn-primary mt-3" type="button" name="button">Gå til</button>

</div>
